div{
    width: 200px;
    height: 200px;
    background-color: rgb(250, 104, 0);
    transform: translate(100px,30px);
    transform: rotate(90deg);
    color: rgb(0, 0, 0);

}
.bubu{
    width: 200px;
    height: 200px;
    background-color: rgb(250, 104, 0);
    transform: translate(100px,30px);
    transform: rotate(-90deg);
    color: rgb(0, 0, 0);
}
.sippi{
    width: 200px;
    height: 200px;
    background-color: rgb(250, 104, 0);
    transform: translate(100px,30px);
    transform: rotate(-90deg);
    color: rgb(0, 0, 0);  
}